.login-container{
  margin-top:50px;
  margin-left:15%;
  margin-right: 15%;
}
.login {
  display: flex;
  flex-direction: row;
}
.child-left{
  border: 1px solid #5cb85c;
  width: 60%;
  padding: 10px;
}

.child-left hr{

  border-top: 2px dotted rgb(243, 170, 67);
}
.child-right{
  padding: 20px;
  width: 40%;
  background-color: #4db34d;
  border-radius: 0px 10px 0px 0px;
}
.child-right h3{
  color:#fff;
}
.login form {
  margin: 0 auto;
  max-width: 320px;
}
.title{
  font-weight: bold;
  font-size: 16px;
  color:#5cb85c;
}
.languages-div{
  display: flex;
  flex-direction: row;
  padding:5px;
}

.form-div{
  width:300px;
}